.home-screen{
  position: relative;
  height: 100%;
  background-color: #111;

}

.home{
  background-color: #111;
  display: flex;
flex-direction: column;
justify-content: center;
overflow-y: hidden;
margin: auto;
width: 100%;
}
