table{
    color: black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 80%;
}

thead th{
    text-align: center;
}

td{
    text-align: center;
}

.heading{
    margin-left: 10%;
    margin-right: 10%;
}
.pricing-btn-style{
    font-size: 80%;
    color: #fff;
    background-color: #fc8d92;
    z-index: 0;
    border: none;
    border-radius: 4px;
    height: 100px;
    width: 100px;
    margin: 0.5%;
    font-weight: 600;

}
.color{
    color: red;
}
.pricing-btn-style :active{
    background-color: #e50914 !important;
}
.pricing-btn-style :focus{
    background-color: #e50914 !important;
}
.pricing-btn-style :hover{
    background-color: #e50914 !important;
}


.btn-continue{
    font-size: 20px;
    color: #fff;
    background-color: #e50914 ;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 400px;
    font-weight: 400;

}
.btn-align{
    text-align: center;
}
.setup{
    position: absolute;
    top: 10%;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
}
