.nav-contents a {
    text-decoration: none;
 }
 .nav-contents a:hover {
    color: rgb(57, 57, 57);
  }
.step3-btn-style{
    font-size: 100%;
    color: black;
    background-color: white ;
    border: 2px solid rgb(158, 152, 152);
    border-radius: 4px;
    height: 60px;
    width: 100%;
    margin: 0.5%;
    text-align: left;
    font-weight: 400;
    padding-left: 10px;
}
.btn-img{
    position: absolute;
    width: 5%;
    object-fit: contain;
    padding-left: 20px;  
    
}
  
.step3-auth-card{
    border:none !important;
    padding-top: 50px;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    max-width: 480px;
    margin: auto;
}
