@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Work+Sans:wght@600&display=swap');

/* .container{
    display: flex;
    flex-direction: row;
}  */
 .home-nav{
     position: fixed;
     top: 0;
     padding: 10px;
     width: 100%;
     height: 50px;
     z-index: 1;
     transition-timing-function: ease-in;
     transition: all 0.5s;
 } 

 .home-nav-contents{
     display: flex;
     justify-content: space-between;
 }

 .home-nav-black{
    background-color: #111;
 }

 .home-nav-logo{
     position: fixed;
     top: -2px;
     left: 0;
     width: 140px;
     padding-left: 20px;
     object-fit: contain; 
     cursor: pointer;
 }

 .home-nav-profile-icon{
     position: fixed;
     top: -0.5px;
     right: 20px;
     width: 35px;
     margin: 8px;
     border-radius: 5px;
 }
 .home-nav-tabs{
    position: fixed;
    top: 2px;
    left: 120px;
    margin: 8px;
 }
 .nav-search{
    margin-left: 80%;
    width:10%;
 }
 .nav-search input[type=text] {
    width: 1% ;
    font-size: 12px ;
    color: white ;
    border-bottom: none !important;
    background-image: url("https://www.pinclipart.com/picdir/big/142-1425732_google-web-search-icon-search-icon-png-white.png");
    background-size: 120%; 
    background-repeat: no-repeat;
    box-shadow: none !important;
    cursor: pointer;
    height: 10% ;
    padding: 10px;
    -webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important;
  } 
  
  .nav-search input[type=text]:focus {
    border: 1.5px solid #ccc !important;
    background-image: none !important;
    border-radius: 2px !important;
    width: 80% !important;
    box-shadow: none !important;
  }
 
li a{
    display: block;
    padding: 8px;
    font-size: 0.9rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
  
li a:hover {
    color: rgb(57, 57, 57);
  }
.btn{
    background-color: transparent;
    font-size: 1rem;
    width: 120%;
    box-shadow: none;
    text-transform: capitalize ;
}
.btn:hover{
    background-color: transparent;
}
.btn:active{
    background-color: transparent;
}
.dropdown-content{
    color: white;
   
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    
}
.dropdown-trigger{
    text-align: center;
    width: 150%; 
}

.Menu{
    position: fixed;
    right: 30px;
    margin: 2.5em 6em;
}

.m-item{
    position: absolute;
    
    width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: none;

    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    color: #EDFFEC;
    cursor: pointer;

    transition: 1s;
}

.m-logo{
    z-index: 1;
}
.open-1{
    top: 2px;
    background-color: rgba(0, 0, 0, 0.8);
}
.open-2{
    top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}
.open-3{
    top: 58px;
    background-color: rgba(0, 0, 0, 0.8);
}